.PostPage {
  display: flex;
  margin: 5rem 0;
  flex-direction: column;
  width: 100%;
}

.Image {
  object-fit: cover;
}

.Text {
  display: flex;
  flex-direction: column;
}

.Text h1,
.PostTitle {
  font-size: 5rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.Text p {
  margin: 2rem 0;
  line-height: 1.5;
  list-style: inside;
}

.Text h2 {
  font-size: 4rem;
  align-self: center;
}

.Text img {
  width: 100%;
  object-fit: cover;
}

.Text a {
  position: relative;
}

.Text a::after {
  z-index: -1;
  content: '';
  background-color: var(--accent);
  position: absolute;
  width: 120%;
  height: 25%;
  bottom: -0.5rem;
  left: -10%;
  border-radius: 2px;
  transition: all 0.2s ease-in-out;
}

.Text a:hover::after {
  height: 150%;
}

.ContentWrapper {
  display: flex;
}

.Content {
  flex: 3;
  display: flex;
  flex-direction: column;
}

.SideBar {
  flex: 1;
}

@media screen and (max-width: 540px) {
  .SideBar {
    display: none;
  }

  .Text h1 {
    font-size: 4rem;
  }
}
