.PostGrid {
  width: 100%;
  /* height: 100%; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
  margin: 6rem 0 3rem 0;
}

.PostCard {
  width: 100%;
  border-radius: 1.5rem;
}

.PostCard img {
  object-fit: cover;
  border-radius: 1.5rem;
}

.PostCard .Content {
  padding: 1rem;
}

.PostCard h1 {
  margin-top: 2rem;
}

.PostCard p {
  margin-top: 1rem;
}

.PostContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 540px) {
  .PostGrid {
    grid-template-columns: 1fr;
  }
}
