.PostPage {
  display: flex;
  margin: 5rem 0;
  flex-direction: column;
  width: 100%;
}

.Image {
  object-fit: cover;
}

.Text {
  display: flex;
  flex-direction: column;
}

.Text h1,
.PostTitle {
  font-size: 5rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.Text p {
  margin: 3rem 0;
  line-height: 1.5;
  list-style: inside;
}

.Text h2 {
  font-size: 4rem;
  align-self: center;
}

.ContentWrapper {
  display: flex;
}

.Content {
  flex: 3;
  display: flex;
  flex-direction: column;
}

.SideBar {
  flex: 1;
}

@media screen and (max-width: 540px) {
  .SideBar {
    display: none;
  }

  .Text h1 {
    font-size: 4rem;
  }
}
