.Header {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.Header_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.SocialIcons {
  list-style: none;
  display: var(--social-display);
}

.NavLinks {
  list-style: none;
  display: var(--nav-links-display);
  justify-self: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 6rem;
  font-size: 1.8rem;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
}

.Logo {
  width: var(--logo-width);
}
