.ImageCTA {
  display: flex;
  margin-top: 6rem;
  justify-content: space-between;
  width: 100%;
}

.ImageCTAPost {
  max-width: 32%;
  width: 32%;
  display: flex;
  flex-direction: column;
}

.Image {
  object-fit: cover;
  width: 100%;
  border-radius: 1.5rem;
}

.Title {
  margin: 0;
  font-size: 3rem;
}

.ImageCTAPost > a {
  border-radius: 1.5rem;
}

.ImageCTAPost > a > div {
  border-radius: 1.5rem;
}

@media screen and (max-width: 540px) {
  .ImageCTA {
    flex-direction: column;
    justify-content: space-between;
  }

  .a > div {
    max-height: 100% !important;
    height: 100% !important;
  }

  .a > div > div {
    padding-top: 47% !important;
  }

  .ImageCTAPost {
    max-width: 100%;
    width: 100%;
  }

  .ImageCTAPost:not(:first-child) {
    margin-top: 3vh;
  }
}
