.ImageCTA {
  display: flex;
  margin-top: 6rem;
  justify-content: space-between;
  width: 100%;
}

.ImageCTAPost {
  max-width: 32%;
  width: 32%;
  display: flex;
  flex-direction: column;
}

.Image {
  object-fit: cover;
  width: 100%;
}

.Title {
  margin: 0;
  font-size: 3rem;
}

@media screen and (max-width: 540px) {
  .ImageCTA {
    flex-direction: column;
    height: 100vh;
    /* justify-content: flex-start; */
    justify-content: space-between;
  }

  .ImageCTAPost {
    max-width: 100%;
    width: 100%;
    max-height: 30%;
    height: 30%;
  }

  .ImageCTAPost:not(:first-child) {
    margin-top: 3vh;
  }

  .Image {
    height: 80%;
  }
}
