.MobileMenu {
  display: none;
}

.MobileNav {
  display: none;
}

@media screen and (max-width: 540px) {
  .MobileMenu {
    display: block;
    position: relative;
    /* width: 30px;
    height: 20px; */
  }

  .MobileMenu button {
    z-index: 2;
    width: 6rem;
    height: 3rem;
    display: inline-block;
    border: none;
    margin: 0;
    text-decoration: none;
    background: transparent;
    color: #ffffff;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-tap-highlight-color: transparent;
  }

  .MobileMenu button:active {
    background: transparent;
  }

  .MobileMenu svg {
    width: 100%;
    height: 100%;
    pointer-events: none;
  }

  .MobileNav {
    position: absolute;
    display: grid;
    width: fit-content;
    height: 50vh;
    border-radius: 1.5rem;
    background-color: var(--accent);
    top: 50px;
    right: 0;
    z-index: 1;
    overflow-y: hidden;
  }

  .NavLinks {
    display: grid;
    place-items: center;
    gap: 0.5rem;
    width: 50vw;
    list-style: none;
  }
}
