.PageIndicator {
  width: 100%;
  /* height: 200px; */
  display: flex;
  margin-top: auto;
  margin-bottom: 3rem;
  justify-content: center;
  align-items: center;
  font-family: 'Josefin Sans';
  font-size: 2rem;
  font-weight: 400;
}

.PageIndicator p {
  margin: 0 4rem;
}

.PageIndicator a {
  padding: 0.8rem 1rem;
  font-family: inherit;
  font-size: inherit;

  display: inline-block;
  border: 1px solid var(--accent);
  padding: 1rem 2rem;
  margin: 0;
  background-color: transparent;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

@media screen and (max-width: 540px) {
  .PageIndicator {
    grid-column: auto;
  }
}
